body {
    background-color: black;
}
.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: white;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.image-card {
    height: 200px;
    object-fit: cover;
    width: 100%;
}
.avatar {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    margin-top: -75px;
    border: 5px solid white;
}

#espaco-cartao{
    display: none;
}

